#comments
  background: color-primary-lighter
  padding: article-padding
  border: 1px solid color-border
  margin: block-margin auto
  max-width: 1000px
  box-sizing: border-box
  a
    color: color-link