#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em

  #contact-links
    float:right
    font-size: 200%

    a
      @extend .icon
      margin: 0 10px
      color: color-primary-light
      text-decoration: none;
      &.twitter:after
        content: "\f099"
      &.github:after
        content: "\f09b"
      &.linkedin:after
        content: "\f08c"
      &.email:after
        content: "\f0e0"
