<div id="contact-links" class="contact-links right">
    <a class="github" href="https://github.com/Julian-Robinson" target="_blank"> </a>
    <a class="twitter" href="https://twitter.com/itsJulianR" target="_blank"> </a>
    <a class="email" href="mailto:julian.robinson.nz+blog@gmail.com"> </a>
    <a class="linkedin" href="https://www.linkedin.com/in/julian-robinson" target="_blank"> </a>
</div>