@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

html, body, #container
  height: 100%

body
  background: color-background
  font: font-size font-sans
  -webkit-text-size-adjust: 100%

.outer
  clearfix()
  display:flex  
  flex-direction: column;
  margin: 0 auto
  @media mq-normal
    flex-direction: row;
  @media mq-large
    flex-direction: row;
  
.inner
  column(columns) 

.left, .alignleft
  float: left

.right, .alignright
  float: right

.clear
  clear: both

#container
  position: relative

.mobile-nav-on
  overflow: hidden

#wrap
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  transition: 0.2s ease-out
  z-index: 1
  background: color-background
  .mobile-nav-on &
    left: mobile-nav-width

#main 
  flex: 2 1 main-column*(1/12*100)%
  box-sizing: border-box
  padding: 0 20px
 /* @media mq-large
    padding-left: 6%*/

#sidebar
  flex: 1 1 sidebar-column*(1/12*100)%
  box-sizing: border-box
  padding: 0 20px;
/*  @media mq-large
    padding-right: 3%*/

.full-width 
  #main 
    column(main-column + sidebar-column)
  #sidebar
    display:none

.icon 
  font-family: font-icon
  font-style: normal

.prev-icon
  @extend .icon
  float: left
  padding-right:5px
  &:before 
    content: "\f053"
 
.next-icon 
  @extend .icon
  padding-left:5px
  float: right
  &:after
    content: "\f054"



@import "_extend"
@import "_partial/index"
@import "_partial/header"
@import "_partial/article"
@import "_partial/comment"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/highlight"
@import "_partial/mobile"

if sidebar
  @import "_partial/sidebar"