.tag-summary-wrap
  background-color: color-primary
  padding: 20px 50px
  text-align:center
  clearfix()
  .tag-list
    clearfix()
    text-align:center
    width: 80%
    display:inline-block
    .tag-list-item 
      display:inline-block
      background: color-accent
      margin: 5px
      padding: 5px 15px
      cursor: pointer
      a 
        color: color-primary-lighter
        text-decoration: none;
      &:hover
        background: color-accent-highlight
      .tag-list-count
        display:none