#sidebar
  background-color: color-widget-background
  
.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  background: color-widget-background
  border-top: 1px solid color-widget-border
  padding: 5px 10px
  a
    color: color-link
    text-decoration: none
    &:hover
      color: color-link-active;
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc
  li 
    padding: 3px 0px;